<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    {{ $js := resources.Get "../assets/js/home.js" }}
    {{ $file := $js | resources.Minify }}
    <script defer type="application/javascript" src="{{ $file.Permalink }}"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>

    <!-- <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script> -->
</head>

<body>


    <main>

        <div class="table-container">
            <div class="table">
                <table>
                    <tr>
                        <th class = firstcell>Placement</th>
                        <th>Carlsberg</th>
                        <th>Diageo</th>
                        <th>Heineken</th>
                        <th>InBev</th>
                        <th>MolsonCoors</th>
                        <th>Others</th>
                    </tr>
                    <tr>
                        <td> <b># 1</b></td>
                        <td><i>Carnegie Porter 5,5%</i> <b>(4.16)</b></td>
                        <td><i>Guinness Special Export Stout / Antwerpen Stout</i> <b>(4.12)</b></td>
                        <td><i>High West-ified Imperial Coffee Stout</i> <b>(4.37)</b></td>
                        <td><i>Proprietor's Bourbon County Brand Stout</i> <b>(4.70)</b></td>
                        <td><i>Mosaic Double IPA</i> <b>(4.32)</b></td>
                        <td><i>Kentucky Brunch Brand Stout</i> <b>(4.84)</b></td>
                    </tr>
                    <tr>
                        <td> <b># 2</b></td>
                        <td><i>Sinebrychoff Porter</i> <b>(4.16)</b></td>
                        <td><i>Guinness Foreign Extra Stout</i> <b>(4.08)</b></td>
                        <td><i>Born Yesterday APA</i> <b>(4.37)</b></td>
                        <td><i>Rare Bourbon County Stout</i> <b>(4.69)</b></td>
                        <td><i>Terrapin Cinnamon Roll'd WnB Oatmeal Stout</i> <b>(4.25)</b></td>
                        <td><i>Good Morning</i> <b>(4.79)</b></td>
                    </tr>
                    <tr>
                        <td> <b># 3</b></td>
                        <td>Okocim Porter</td>
                        <td><i>West Indies Porter</i> <b>(4.78)</b></td>
                        <td><i>The Waldos' Special Ale</i> <b>(4.31)</b></td>
                        <td><i>Nutulhu</i> <b>(4.68)</b></td>
                        <td><i>W-n-B Coffee Oatmeal Imperial Stout</i> <b>(4.21)</b></td>
                        <td><i>R&D Sour Fruit (Very Sour Blackberry)</i> <b>(4.77)</b></td>
                    </tr>
                    
                </table>
            </div>
        </div>
        
        <div class="textbox">
            <h1>Welcome to Beer. This is our data story!</h1>
    
            <p>Here's some placeholder text</p>
        </div>

        <div class="map-container2">
            <div id="map2" class="map2">
                <svg id="goddamnmap" width="700" height="500"></svg>
            </div>
            <div id="data-buttons">
                <button id="button1">ABInBev</button>
                <button id="button2">Carlsberg</button>
                <button id="button3">Diageo</button>
                <button id="button4">Heineken</button>
                <button id="button5">MolsonCoors</button>
                <button id="button5">Others</button>
            </div>
        </div>

        
        <div class="textbox">
            Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Repellat tenetur, eveniet
            quasi dolore iure optio nostrum molestias,
            in ad ipsum accusantium saepe exercitationem ipsam, 
            adipisci alias quibusdam nulla blanditiis nihil!
   
        </div>
        
        
        <div class="plot-container">
            <div class="barplot-stacked"></div>
        </div>

        <div class="plot-container">
            <div class="lineplot-annualsales"></div>
        </div>
        
    
    </main>








    <!-- <footer>
        <div class="footer-container">
            <p>
                add footer :!
            </p>
        </div>

    </footer> -->


</body>
</html>
