<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="style.css">


    <!-- <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script> -->
</head>

<body>
    <header>
        <h1>Welcome to Beer</h1>

        <p>wow!</p>
    </header>


    <main>

            <div class = "map-container" style="grid-column: 2;">
                <div id="map" class="map"></div>
            </div>
        <script>
            var mapContainer = document.getElementById('map');
            mapContainer.style.zIndex = 1;
        </script>
    
    </main>






    <!-- <footer>
        <div class="footer-container">
            <p>
                add footer :!
            </p>
        </div>

    </footer> -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <script src="../assets/js/home.js"></script>
</body>
</html>
